google-cloud-aiplatform[adk,agent_engines]
google-adk
google-cloud-speech
google-cloud-storage
mcp
litellm
python-dotenv
yt-dlp
ffmpeg-python
# streamlit>=1.31.0
# requests>=2.31.0
# fastapi>=0.100.0
# uvicorn [standard]>=0.20.0